################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################
*.db
*.opendb
*.dll
*.exp
*.ilk
*.lib
*.pdb
*.exe
*.obj
*.log
*.tlog
*.idb
*.sln
Makefile
.vs/
.vscode/
build/
target/
exmaple/log/
test/twitter-out.json
ext/
clib/
lualib/ext/
example/ext/

