################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Resource/MoonNet.log
/premake5.exe
/premake5.lua
/resources/MoonNet.log
